h1 {
  font-size: 2em;
}

main {
  height: calc(100% - 125px);
}

.App,
#root {
  height: 100%;
}

.responsiveMargin {
  margin: 0 20%;
}

@media only screen and (max-width: 600px) {
  .responsiveMargin {
    margin: 0 5%;
  }
}

@media only screen and (max-width: 800px) {
  .responsiveMargin {
    margin: 0 10%;
  }
}

@media only screen and (max-width: 1000px) {
  .responsiveMargin {
    margin: 0 15%;
  }
}

.MuiButton-containedPrimary {
  /* we need this color in order to meet WCAG 2 AA contrast ratio thresholds */
  background-color: #144a81 !important;
}
