h1 {
  font-size: 2em;
}

.responsiveMargin {
  margin: 1em 20%;
}

@media only screen and (max-width: 600px) {
  .responsiveMargin {
    margin: 1em 5%;
  }
}

@media only screen and (max-width: 800px) {
  .responsiveMargin {
    margin: 1em 10%;
  }
}

@media only screen and (max-width: 1000px) {
  .responsiveMargin {
    margin: 1em 15%;
  }
}
